<p>Comment of Student: <%=@comment.name%></p>
<p>Comment: <%=@comment.comment_txt%></p>
<p>Created at: <%=@comment.created_at%></p>

<a href="/comments">Back to All Comments</a>

<form action="/comments/<%=@comment.id%>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete This Comment">
</form>
