html {
    background-color: #ccc;
}
body {
    width: 700px;
    height: 900px;
    background-color: #dddcd9;
    margin:2em auto 2em;
    padding:25px;
    position:relative;
    font-family: Helvetica, Arial, sans-serif;
}


h1 {
  color: #903;
  font: 32px/1 Helvetica, Arial, sans-serif;
}

h2 {
  color: #444;
  font: 32px/1 Helvetica, Arial, sans-serif;
}

h3 {
  color: #444;
  font: 16px/1 Helvetica, Arial, sans-serif;
}

header h1 {
  font-size: 40px;
  line-height: 100px;
  padding-left: 500px;
}

#menu-outer {
  height: 84px;
  background: url(images/bar-bg.jpg) repeat-x;
}

.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 800px;
  list-style: none;
  padding-top: 20px;
  }
  ul#horizontal-list li {
    display: inline;
  }

tabs_menu {
  @include tabs ($background: #444, $color: #fff);
  font-weight: bold;
}

p {
  font: 14px/1.4 Helvetica, Arial, sans-serif;
}

label {
  display: block;
}